<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/demo1.css' %}">
    <title>movies</title>
</head>
<body>
<div class="container" align="center"></div>
<div class="jumbtron" >
    <h1>     </h1>
<h2> Hieee... u cn see movies information</h2>
    <h3>
    <ul>
         the mister mummy is releasing soon..<br>
        <img src="{% static 'images/mistermummy.jpg'%}"><br>
         best acting of kangana in emergency<br>
        <img src="{% static 'images/emergency.jpg'%}"><br>
         thank god movie is best with ajay & rakul<br>
        <img src="{% static 'images/thankgod.jpg'%}"><br>
    </ul></h3>



    </div>
</div>
</body>
</html>