<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/demo1.css' %}">
    <title>sports</title>
</head>
<body>
<div class="container" align="center"></div>
<div class="jumbtron" >
<h2> Hieeee... u cn see sports information</h2>
    <h3>
    <ul>
        {{msg1}}<br>
        {{msg2}}<br>
        {{msg3}}<br>

    </ul></h3>
<img src="{% static 'images/cricket.jpg'%}">
<img src="{% static 'images/hockey.jpg'%}">
<img src="{% static 'images/football.jpg'%}">
    </div>
</div>
</body>
</html>