<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <title></title>
</head>
<body>
    <h1>my student data</h1>
    {% if obj %}
    <table>
        <thead>
        <th>name</th>
        <th>email</th>
        <th>address</th>
        <th>rollno</th>
        </thead>
        {% for i in obj %}
        <tr>
            <td> {{i.name}}</td>
            <td> {{i.email}}</td>
            <td> {{i.address}}</td>
            <td> {{i.rollno}}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<p> no records found</p>
{% endif %}
</body>
</html>