<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/demo4' %}">
    <title>feed</title>
</head>
<body>
<div class="container" align="center">
  <div class="jumbotron">
    <form action="/signupview/"   method="post">
        <h1>This is the feedback/login form</h1>
      {{fff.as_p}}
      {% csrf_token %}
<!-- u can also give anchor tag here so that one button n one anchor link two buttons will display-->
      <input type="submit" value="signup" >
    </form>
  </div>
</div>
</body>
</html>